body{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    min-height: 100vh;
}

button{
    flex: 0 1 auto;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #302939;
    color: #ffffff;
    transition: 0.04s ease-out;
}
button:hover{
    background-color: #e99b9b;
    color: #212121;
}

.wrapper{
   width: 70vw;
   height: 70vw;
   max-width: 700px;
   max-height: 700px;
}
.container{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #5c5b5b;
}

.box {
    aspect-ratio: 1/1;
}