body{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

button{
    font-weight: bold;
    font-size: 1em;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #302939;
    color: #ffffff;
    transition: 0.04s ease-out;
}
button:hover{
    background-color: #e99b9b;
    color: #212121;
}

.container{
    background-color: #5c5b5b;
    width: 960px;
    display: grid;
}

.box {
    aspect-ratio: 1/1;
}