body{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}


.container{
    background-color: #5c5b5b;
    width: 70%;
    display: grid;
}

.box {
    /* border: 1px solid black; */
    aspect-ratio: 1/1;
}